name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug, Release]
        platform: [x64, ARM64]


    runs-on: windows-latest

    env:
      Solution_Name: ScriptRunner.sln
      Test_Project_Path: ScriptRunner.UnitTests\ScriptRunner.UnitTests.csproj

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore /p:Platform=${{matrix.platform}}

      
    - name: Test
      if: ${{matrix.platform == 'x64'}}
      run: dotnet test --no-build --verbosity normal /p:Platform=${{matrix.platform}}
